In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [120]:
Darya = ["Quarantine expectations. Swipe for reality", 
         "22 in 2020 - swipe to see a photo from yesterday. Age affects me.", 
         "hello? Santa? All I wish for Christmas is my mind back... ", 
         "girl with a hat - a series. ", 
         "casual day at uni. swipe for more idiots", 
         "thanking Steve for a nice iPhone front camera.", 
         "Missing this", 
         "*edit: still can‘t believe a sunscreen for 7.95 prevented me from having a huge sunburn",
        "where I‘d rather be part 2",
        "when people ask me if I‘ve got free time - I do. Except I don’t.",
         
        "just a small town girl, living in a capitalist world...",
        "clueless",
        "Might be serious, might be hungry. ",
        "you want blue? you want yellow?",
        "While the wall fell nearly 30 years ago, I constantly fall on my face...",
        "Im pretty ok with exams being over... ",
        "unpopular opinion: university can be fun. exhibit a",
        "christmas is around the corner but all I‘m wishing for is an extention of deadlines...",
        "on some occasions I even get out of the valley and LA to go sightseeing ",
        "diamonds are a girls best friend. Especially when you trade ‘em for plane tickets and uber rides",
        
         "not a threat, it’s a warning. (talking about the beginning of semester tomorrow)",
        "come fly with me, let’s fly let’s fly away...",
        "saltier than the Pacific",
        "me, when I’m a) hangry or b) am studying @ nyfalosangeles @ williamroyal98",
        "this whole you-gotta-study-while-the-sun-is-shining gets on my nerve. here’s an example of inner rage",
        "you know you might have been spontaneous when while booking your flights they asked you if ou would want to check in for the flight back aswell.",
        "Vitamins",
        "finished the first semerster at HSG and I still can’t afford a porsche 911.",
        "Me: you should be studying. Also me: enjoy the holidays",
        "just kidding - I’m still a short ass little human",
        
        "week 2 at uni and my icloud and google drive are asking me to pay for more storage.",
        "uni starts tomorrow and I already see myself either a) being lost cause I can't find the classroom or b) looking like Annabelle cause sleep is for the weak",
        "oh boy",
        "this should be my last week of summer but I think the weather decided to give me an early taste of fall already.",
         "water falls, darya falls and just casually sit on floors cause standing is overrated ",
         "I promise I counted all the lights, but then I saw a squirrel and lost count ",
         "is it a set? Is it a real house? guess.",
         "quiet on set",
         "Baywatch, are you hiring?",
         "What if perfume is actually bugspray but they want us to buy the nasty smelly stuff just to have a good laugh?",
         
         "I'm starting to wonder if spotlight can give you a tan cause the sun isn't coming to just yet. All jokes asid tho, I am beyond grateful to share the stage with so many talented people. Do what you love and you'll feel limitless ",
         "that second when the person you've been straing at looks at you and you quickly turn away, trying to look as casual as possible",
         "at that moment I probably thought out a plan to convince my mom to paint one of my walls pink. even though I know it won't happen, happy #internationalwomensday ladies",
         "Tell me about it, stud",
         "nice to be back. bring it on 2017"
         "2016. A year that had probably more faces than facebook. Victories and dissapointment, new friendships and new experiences; I was lucky enough to travel the several times and can't thank the people that made 2016 the year it was enough for all their kind words, laughter and happy tears.",
         "don't mess with us - we have RG clubs",
         "Summer is over and you're like: pardon me, what?",
         "Looking back at those 5 weeks full of new friends, experiences and emotions puts a smile on my face. The teachers I've worked with inspired me every day, the people made my summer the best one yet. I love all of you and you'll always have a special place in my heart #obgottheheat and happy National Dance Day",
         "everybody needs some attitude in their life #punintended #obgottheheat"
]

In [121]:
Theresa = ["light times", 
            "simplicité.", 
         "chapter 1", 
         "*waiter pours up wine without being asked for*", 
         "what a year", 
         "it‘s friday i‘m in loved.", 
         "herzallerliebst.", 
         "wie sommerferien für erwachsene irgendwie.",
        "sommer und sonne und zitroneneis und stella und ach man was soll ich sagen - das beste leben @stellamarieluise",
        "das ist einfach Glück, wenn man euch hat",
         
        "an diesem Bild ist so Vieles richtig.",
        "ernst gucken geht also doch. @shishaclothing #supportyourlocalbrand #shishaclothing",
        "casual durch die gegend düsen halt",
        "Liebe für alle Frauen. Aber für Diese am meisten! #happyweltfrauentag",
        "meine entscheidungsfreude captured by @stellamarieluise",
        "keine termine und leicht im dispo",
        "future",
        "Zukunftsprognose 2080: alle glücklich.",
        "marilyn monroe momente beim brötchen holen",
        "reflections.",
        
         "keine sorgen, keine wellen, kein conditioner",
        "liebenswichtig",
        "alles wie immer",
        "gute gespräche und blöde ideen",
        "klassisches arbeiten halt",
        "mag ich",
        "lieb ich",
        "viel zu schön",
        "kaltes bier who dis",
        "guess i‘m just in love with sunrises and moonlight and rainstorms and everything that has soul",
        
        "semi zufrieden mit dem frühstück",
        "ich hab das mit dem ernst gucken nicht mitbekommen",
        "verliebtverliebt",
        "trouble never looked so goddamn fine",
         "und wenn das abendlicht in genau dieser farbe ist",
         "say something in dutch",
         "superlekker",
         "Pass auf deine Füße auf ",
         "herz euch behalt ich",
         "find ich gut",
         
         "wenn @lisbz meine wäsche aufhängt",
         "find your fire",
         "umziehen mit lieblingspizza und lieblingswg",
         "lieb ich",
         "ist das Kunst oder kann das weg?"
         "kennt ihr diese Menschen, die stehen bleiben um den Himmel zu fotografieren?",
         "no one is you and that is your power",
         "HAPPY WELTFRAUENTAG",
         "gründe warum ich kein Blogger bin",
         "sommer"
]

In [122]:
Nico = ["Haven't posted in a while, so this random picture is now filling the void. Been going within a lot in the past year and sorted out some things for myself. Happy to say, that I am refocused, re-energized and working on great things.", 
            "Impressions from Serfaus. 2020 is off to a good start. Swipe right for the best drinking game", 
         "Dogs of Berlin", 
         "Not my boat, still flexing ", 
         "Lads", 
         "A weekend in Madrid is always a good idea! Hanging out the hangover at some historical sites ", 
         "Drip too hard, don’t stand too close", 
         "I miss you bro. We pushed each other to be the best every day. There never was a better duo. „The Golden Boys“ Rest Easy",
        "Getting settled in Berlin",
        "It’s been three tough but fun years at WHU. Last weekend I finally graduated with a degree from the best business school in Germany, but more importantly with new friends for life and another place I can call home.",
         
        "Graduated",
        "WHU boys - Class of 2017. Had so much fun with you. Now let's get the moolah",
        "The pic is blurry but the day was sharp",
        "Probably the most spectacular view I ever had was driving along the highway no. 1 between LA and SF",
        "He acting all loyal in this pic, but that lil b* bit me the next minute",
        "Probably the most spectacular view I ever had was driving along the highway no. 1 between LA and SF.",
        "Hey @google, Hire me, if you want your bike back! #mountainview #google #siliconvalley",
        "Throwback to an amazing road trip this fall. What a view! Def. worth the hike #hike #nature #travel #roadtrip #yosemite",
        "Keep your eyes on the stars and keep your feet on the ground",
        "You can clearly see I enjoyed being back in SoCal. That place is so beautiful...",
        
         "he Pacific #beers #beach #chilling #california #home #uglyfeet @goldclapmusic good day dude",
        "Never hold back #weekendmood",
        "Thank you @kaleandme for this awesome party! #crewlove @reiseminister_coco",
        "tb to one of my best games ever Still holding the club record for most receptions per game 2013 vs Cottbus W31:15 13 receptions, 193 yards, 3 TDs Thank you @zbreez_ for the trust and the passes !",
        "Throwback to the best winter ever. My kids group. I gave us the name the lil crackheads, because they got me cracking up all the time! #fuckhashtags",
        "Won this one big time 60:20, but it cost us some good men... #hospitalreunion",
        "#Repost @luebeckcougars Much way for improvement though personally. #getbettereveryday Gamestats #cougars #cougarnation #cougarspride #luebeck #luebeckcougars #football #americanfootball #gfl #amgid #afvd #gridiron #awaygame #ritterhude #badgers",
        "100 days credits @gridiron_design_s",
        "New Year's Eve in the alps with the crew. #illuminati",
        "#tb to the good old times when sunday meant gameday and mondays newspaper Sitting in the library studying right now I wish I could go back in time",
        
        "What you believe becomes reality. Create your own world #sundaymood",
        "Mom, can we have one?",
        "Trying to get my surf game up. I think I have a much better form on the beach than in the water though haha #germansaintmermaids @lennartmhr",
        "Table Mountain from Lion's Head @lennartmhr",
         "I hate off-season... ",
         "This shoutout is overdue. Best musical speaker @realcoleworld!",
         "#tb to when my bro @enzeocha_11 was making the Swedish defense look like 8th graders.",
         "Hoffentlich liegt das in der Familie! #crossingfingers #toodamnhot",
         "Touchdown 70:46 crazy game!",
         "Some work by @dani_piedrabuena. Trying to look smart in that suit haha ",
         
         "Back at it",
         "Received this at work. Now my colleagues think I'm famous lol Thank you so much Colin!",
         "#tb to the toughest job I ever had to do good times",
         "office break ",
         "Beach is better. #barcelona #barca #beach #playa #sun #smile #spain #sleepyface"
         "Thank you for such a lovely birthday night.",
         "My new car... I wish. M4 Test Drive. Still having goosebumps #bmw #m4 #madrid #racing",
         "Don't mess with NFL Runningbacks",
         "perfect day at el Retiro",
         "Morning routine. Scooter Ride #madrid #work #watch #scooter #sun #suit"
]

In [123]:
Dylan = [
'Happy golden Birthday Kayla! 22 years on Earth. The photos say it all... you’re one of a kind, and I feel lucky to call you sister. I’m so tremendously proud of you and all that you’ve accomplished this past year. Your unceasing desire to travel and explore is inspiring, and I can’t wait to see what this coming year brings! I know you’ll finish college strong and jump into your career with all the passion you have for everything you do. Happy Kayla Day, love you',
'Blood is thicker than water. This mud on the other hand... Alabama',
'A rocky start to the weekend. Alabam',
'DANGER - Propellers chop heads off.',
'Memorial Day marked the first Winter —> Summer change at the cabin.',
"You're not the only one with great pics of us happy national sibling day squirt, love you and so proud of you.",
"You're not the only one with great pics of us happy national sibling day squirt, love you and so proud of you. #siblingsforthewin #finelookingduo #mynumerouno #lilsismayhem #lookitthempearlywhites",
"Missing my little beast. Sleep tight #audi #tt #3.2 #quattro #purrofakitty #growlofatiger #mapetiteblanchevoiture",
"Officially my view for the next year! #switzerland #valais #balconyview #lesrochesstudent #hospitality #naturalswissbeauty #lifeinthemountains #lastyear",
"Officially my view for the next year! #switzerland #valais #balconyview #lesrochesstudent #hospitality #naturalswissbeauty #lifeinthemountains #lastyear",
"I had the great fortune today of spotting the incredibly rare Bentley Continental GTZ Zagato! No. 1 of 9 in the world! #Lausanne #Switzerland #Bentley #Continental #Zagato #rare #1of9 #dreamcar #themcurves #iwanttoseetheinsurancebill #supercarsofswitzerland #carlove",
"The best respite from finals? Deep in the Swiss Alps will suffice #switzerland #finalsweek #audi #tt #3.2 #quattro #swissalps #freedom #squintyeyes",
"Welcome to my crib #castlehopping #neverstopexploring #switzerland #sion #notreallymycrib #schoolstartstomorrow #lovinlife #naturalbeauty",
"The Matterhorn in all its glory #matterhorn #zermatt #swissalps #neverstopexploring #lovinlife #myhandwasfreezing",
"Bienvenue Suisse #Switzerland #Mountaindriving #Somuchspace #Sierre #lesrochesswitzerland #lovinlife",
"A great day on the water comes to a close, as my summer day count winds down to 3 #Chevytrucks #2500HD #Mastercraft #Lakedays #Minnesota #Summerbummin #mastercraft2015",
"Stormy days at the lake #Stormydays #IronRange #NorthernMN #Nimbusamongus #Summertime",
"The land of the free and the home of the brave. Murica! #freedom #summer #homesweethome #sightforsoreeyes #freedomwithachanceofliberty #letskickit",
"It's a bit late, but it was great to have you here bro! Missing you already @bryce.gordon, until next time keep it real! :P #Shanghai #Xintiandi #Brotime #WhenImetyouinthesummer #Keepitreal",
"The PuLi hotel, Jingan Temple area #Shanghai #PuLi #Hotelschooldays #Urbanresort #LHW #Shouldhavebroughtmyswimsuit",
"Fun in the sun #Boracay #TheDistrict #letsgodiving #architectureonpoint #paradise",
"Beautiful Boracay sunset #Boracay#Philippines#Missionwork#AGIF#nobeachtimejustpreachtime",
"Have a great Valentines Day everyone! @lovelivalove this is waiting for you when you get back ;) #Valentinesday #chocolates #loveisintheair #wouldyoubemyvalentine? #girlslovechocolate",
"#tbt to being cute and devious :P now I'm just devious #youngme #grinchonesie #santahats #christmascheer #kaylathatface #attemptedsmile #saocute #ihategrowingup #takemeback",
"New addition to the family, ready to log some dive time. #Guam #G-Shock #divewatch #adventuretime",
"Speed is a blessing. #Chevrolet #Camaro #ifyourenotfirstyourelast #Guam #lastday #iwannagofast #transformer #niceparkingjob…",
"Time to go wreck diving! #Guam #diving #wreckdiving #WWII #deepblue #dontworrygotmytetanusshot",
"The smiles of two PADI certified advanced open water divers :D #success #guamdayfive #growinggills #GTDS #firstachievementof2015 #crazyeyes",
"A successful first day of diving on the beautiful island of Guam! #GTDS #icanbreatheunderwater #60ftclub #buoyancyisanissue #Guam #Padicertification #SCUBA #getoffthegrass",
"TBT to New Years. My first semester of college has been real with you guys! #bratansandbratishkas#russianmob#TheNest#firstmomentsof2015#livinglarge#americanamongstrussians",
"A big car for a big city #Cadillac #Escalade #Shanghai #JinQiao #Bigblackride #blueskies #weekendendeavours",
"Just another night in Hanoi. #Hanoi #bikes #people #cityviewcafe #yourebeingwatched #eyesinthesky #driving #youngandfree",
"I guess work isnt so bad ;p #shanghai #sunny #internship #Hyattonthebund #livingthedream #showmethemoney",
"About to start my internship! #Internship #firstdayofwork #livingthelife #gettingthingsdone #pathtosuccess #idkwhatimdoing #noobthings #wishmeluck",
"Florida in the summertime #Florida #boatsnhoes #bromance @johnnygmcdonald",
"Rainy dayz",
"Risk... Back to the old days #Risk#theguys#boardgames#Sweden#strategy#hipster",
"Finally get to see this kid again #powerranger #superfly #southafrican #hashtag #18621613390 #hmu #oneandonly",
"No he's not stealing it. #Latino#diy",
"My main bitchz #sosexy #immaluckyguy",
"#sunnyday#shanghaiskyline",
"#tbt #lastyr #swagdawg #flathatsnsunglasses #selfie #swaggy'd before justin bieber was even born.",
"Happy golden Birthday Kayla! 22 years on Earth. The photos say it all... you’re one of a kind, and I feel lucky to call you sister. I’m so tremendously proud of you and all that you’ve accomplished this past year. Your unceasing desire to travel and explore is inspiring, and I can’t wait to see what this coming year brings! I know you’ll finish college strong and jump into your career with all the passion you have for everything you do. Happy Kayla Day, love you",
"Lol #bluefrog#openwide#whatisthischeese#schooluniformreppin",
"A great day on the water comes to a close, as my summer day count winds down to 3 #Chevytrucks #2500HD #Mastercraft #Lakedays #Minnesota #Summerbummin #mastercraft2015"]

In [124]:
Katie = [
"Sonndorf VI #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #memories #sun #afternoon #garden",
"Sonndorf V #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #loveaustria #window #sun #afternoon",
"Sonndorf IV #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #loveaustria #window #sun #afternoon",
"Sonndorf III #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #loveaustria #window #sun #afternoon",
"Sonndorf II #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #loveaustria #window #sun #afternoon",
"Sonndorf I #autumn #fall #colors #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #loveaustria #window #sun #afternoon",
"he beauty of fall | Lech am Arlberg",
"Mystic Fog | Lech am Arlberg #fog #igersaustria #outdoors #loveaustria #beautiful #nature #naturelovers #naturephotography #mountains #fall #autumn #colors #arlberg",
"Naxos, Greece",
"vom Winde verweht | #schoten #fieren #raumerwind #mannlee #mannluv #übervorn #schotenlos #reffen #fock #groß #bugmann #heckmann",
"sibling goals",
"lovely team #ferienhort #ferienhortamwolfgangsee #campelicious #love #my #team",
"wishing for another awesome breakfast like today | @the_motto_is_diversity #themottoisdiversity #mottoamfluss #lovely #breakfast #acceptance #liveyourlife",
"the beauty of books & architecture | Stift Admont #austria #igersaustria #beautiful #monastery #stiftadmont #library #books #architecture #aesthetic #symmetry #colors #rose #blue #hiddengems", 
"excited for spring #igersaustria #outdoors #beautiful #nature #naturelovers #naturephotography #outdoors #colors #spring #exploreaustria #austria #hallstatt #nofilterneeded", 
"excited for spring #igersaustria #outdoors #beautiful #nature #naturelovers #naturephotography #outdoors #colors #spring #exploreaustria #austria #hallstatt #nofilterneeded", 
"I think I've found Willy Wonka's chocolate mountain", 
"beautiful switzerland",
"#mountains #colors #blue #white #snow #beautiful #nature #naturelovers #naturephotography #outdoors #moretocome #igersaustria #nofilter #travellover #switzerland #jungfraujoch #topofeurope #chocolatemountain #charlieandthechocolatefactory #willywonka",
"#switzerland #suisse #schweiz #beautiful #nature #lake #mountains #colors #blue #autumn #fall #favouriteseason #igersswitzerland #igersaustria #outdoor #walk",
"summer | Attersee, Austria #igersaustria #outdoors #naturephotography #macrophotography #naturelovers #plants #green #sun #details #leaf #beautiful #garden ##memories #missingsummer #anticipating #autumn",
"Kinkaku-ji, Kyoto, Japan #japan #kyoto #asia #travel #temple #traditional #throwback #memories #beautiful #garden #goldenhour #igersaustria #outdoors #travellover #travelwithfriends #pond #nature #naturelovers #naturephotography #reflections #japan_focus",
"Kyoto, Japan 2016 #igersaustria #japan #kyoto #asia #travel #faraway #autumn #fall #temple #traditional #awesome #architecture #wood #ancient #travelwithfriends #island #travellover #throwback #memories", "spring love #spring #flower #pink #beautiful #nature #love #instagood #instaspring #garden #tree #enjoy#love #warm #weather #nofilterneeded",
"on top of the world #mountains #Arlberg #Austria #skiing #snowboarding #enjoy #life #holidays #fun #family #friends #fog #clouds #beautiful #blue #white #naturephotography #outdoors",
"autumn 2017 III #fall #autumn #leaves #falltime #season #seasons #instafall #instagood #instaautumn #photooftheday #sunset #colorful #orange #red #autumnweather #fallweather #nature #nofilter #brotherandsister #family #fun",
"autumn 2017 II #autumn #fall #enjoy #light #sunset #beautiful #family #brother #photography #model #nature #instagood #instafall",
"autumn 2017 I #fall #autumn #leaves #falltime #season #seasons #instafall #instagood #instaautumn #photooftheday #colorful #orange #blue #autumnweather #fallweather #nature #sunset #family #brother",
"beautiful sunset at the Acropolis",
"spring #beautiful #nature #Butterfly #red #blue #black #white #rose #pink #colors #spring #concrete #animals #love #cute #fly #away #springtime #instagood #instaspring #instalove161w",
"I need more sunshine right now #travel #traveling #vacation #visiting #traveler #instatravel #instago #instagood #trip #holiday #photooftheday #fun #travelling #tourism #tourist #instapassport #instatraveling",
"missing the beach & the warm weather #japan #fukuoka #temple #bigcity #skyscraper #red #traditional #travel #3weeks #japanrailpass #jrpass #friends #park #beautiful #sightseeing #love #asia",
"Fukuoka, Japan #japan #fukuoka #temple #bigcity #skyscraper #red #traditional #travel #3weeks #japanrailpass #jrpass #friends #park #beautiful #sightseeing #love #asia",
"finally I've put all the pics from japan on my phone this was taken in Nara by @fabiakailphotography #Asia #asian # #Tokyo #Japan #Nara #nature #deer #cute #cheeky #animal #woods #temple #famous #throwback #travel #summer",
"early morning train ride #japan #landscape #woods #river #mirror #clouds #water #green #blue #nofilter #early #morning #train #beautiful #nature #love #backpacking",
"Okinawan beauty #okinawa #beach #sand #sea #blue #skies #summer #hot #sesokojima #beautiful #photography #nature",
"favourite #nofiltr #outdoors #ferienhort #green #fog #mountains #morning #happy #friends #love #holidays",
"miss my little tiger #nature #sky #sun #summer #garden #beautiful #pretty #sunset #cat #cats #catsagram #catstagram #instagood #kitten #kitty #kittens #pet #love #home",
"I am already looking forward to spending my summer holidays there",
"spring at home #nature #sky #sun #spring #beautiful #pretty #sunset #landscape #amazing #view #trip #tree #mountains #landscape_lovers #landscapelovers #landscape_lover #igersaustria #austria #canon",
"already miss this see you next year",
"favourite place",
"#arlberg #austria",
"need this again... #summer #austria #brother #fun",
"cloudy day in the mountains",
"one of these days"]

In [125]:
Gustav= ["optiimal GNTM watching with the best #teammaureen #lovemaureen #marryme? #throwbackto2013 #gntm #nureinekann #men's night #goodphoto #rockclimbing #heclimbs #climber #climberlife #boulderer #bouldering #mountaineering #mountains #mountainlover #slowandsteadywinstherace #hashtag #like4like #follow4follow #instalife #igerslinz #instaboi",
"Thanks mom für 20 years child support",
"Finally, the lockdown is over. And even though I haven't really been productive, at least my GI tract has. Litterally.",
"#hepoops #pooper #pooping #humanneeds #humanwaste #humansaregross #gross #toiletpaper #corona #lockdown #climber #heclimbs #boulderer #bouldering #rockclimbing #climberlife",
"Can you believe this? Well, it's true either way. I can't believe so many people out there live their lives unaware of this fact! #facts #spreadtheknowledge #educated #educateyourself #climber #climbing #rockclimber #heclimbs #bouldering #boulderersofinstagram #water #bamboo",
"Gotta get those PROUDEINS in, man! Oh yeah, and with all that proudein getting I nearly forgot to take a #foodporn picture, hence the half finished serving",
"#proudeins #nocarb #highprotein #limitierendeaminosäurewas #lowcarb #proteins #food #foodporn #eggs #protein #nutrition #heclimbs #climber #rockclimber #rockclimbing #boulderer #bouldering",
"Who would of thought that? I think this is a great point for eating more of this delicious food so many of us crave during times like these",
"#chocolate #science #research #facts #truth #food #nobodytellsyouthat #heclimbs #rockclimber #rockclimbing #mountaineering #bouldering #boulderer #climber #climberlife",
"You better start working on that beach body now to be in shape in time, and this also involves the right diet. Btw, this avocado I just ate has about 500 000 calories of fat in it. Yeah, you read that right, 500 000. That's more fat than @dkm14 has in his entire body, so Kudos to him!!",
"Come to think of it, I really don't understand how people still think this is a healthy food given these stats...",
"Oh yeah, and I managed to soil myself twice during the process of devouring this delicious, yet sinful treat",
"#helsi #avocado #facts #truth #nofakenews #food #foodporn #beachbody #nocarb #lowprotein #dietfood #diet #veggie #heclimbs #climber #rockclimbing #bouldering #workout de",
"I joyfully did my part today. Thanks wikipedia for carrying me and probably almost every other student of the last 15 years through school and some even through university, too!",
"#wikipedia #education #knowledge #enzyklopedia #thankful #climber #heclimbs #rockclimbing #rockclimber #wikipediaisavalidsource #wikipediaisnotacrediblesource #serious",
"#1 Offseason-Snack: Schwedenbombensemmerl #yummy #niemetz #snack #climbing #heclimbs #mountaineering #gottagetdemcaloriesin",
"Less tape than last time, but also less skin #heclimbs #climbing #bouldering #mountaineering #mountain #outdoor #training #nopainnogain #nohandsphotography",
"One of the #salzkammergut classics: The Mahdlgupf via ferrata. It was nice to take this quite long and thus exhausting challenge again! The struggle paid off, as the view on top was breathtaking",
"#viaferrata #mountain #heclimbs #mountaineering #beautiful",
"Did I use enough tape, @niemanddaheim #heclimbs #climbing #sportsclimbing #hands #training #nopainnogain",
"Hard routes being sent in Gloxwald"
"Beautiful climbs with even more beautiful facial expressions"
"Keep rolling @niemanddaheim @bauki_flo @sonnleitnerjulia"
"#heclimbs #climber #rockclimbing #mountain #mountaineering #granitecrew",
"5th via ferrata done! #geilerhengst #wilderritt #heclimbs #climber #mountain #mountaineering",
"@misternemo and me having some fun dressed up as romans at #petrinum"]

In [126]:
Jonas= ["Hanging Tree",
"When in Rome  @vivi.duenwald",
"Shoutout to the best family I have ever had so far #proudmember #loveyou",
"Yep, the weather was nice #imshreddingonsunshine @janabrahms",
"I will find you, and I will kiss you #80s",
"Real or fake?",
"Top of Santiago #trek #manquehue",
"START Summit 2018 is over now for a week already and it was amazing! During my last two years at START, I have met so many inspiring and interesting people and gained so much of experience, which you could never get through studying. being a supporter two years ago, responsible for speakers and content last year and leading this year's project and bringing 2'500 students, founders, investors and more to st Gallen was the the best experience I've had in my life so far",
"Thanks for the whole START Team who made this event possible and now I'm looking forward for a new episode of my life (even though there is still enough to do for START) #STARTSummit",
"AUFSTIEG!!! Erste Liga here we come #wasfüreinteam #ersteliga #grizzlies #stgallen",
"Guck mal, da ist Wasser im Stein #washabichdaeigentlichfüreinenhutauf? #hutcrew #nachuntengucker #lachdochmal #nö #suchen",
"It was a blast!! At START Summit 2017 we welcomed 2'200 founders, students, investors and corporates. ",
"Thanks a lot to all partners, that made this event possible, to all participants, that made this event such a great success (and contributed in this lit after show party) and to the rest of the team, that made me having such a good time preparing this!! Now it's time to be #mobile for a little. ",
"It was awesome to be part of this team! #hoibese #maschinebrätscher",
"Visiting my old love Boston #boston #goodtobeback #möchtegernmodel #newburystreet #spontan",
"Climbing up the cristo in the sunset was for sure one of the best moments of the Magellan-posttrip in brasil #cristo #rio #brasil #sunset #posttrip #magellan",
"Light house in colonia de suiza #magellan #lighthouse #uruguay #exchange #view",
"It was an amazing time @peterescardo ! 10 days of exploring Switzerland and showing the culture, having fun and meeting awesome people from Uruguay! Looking forward to the second part in Uruguay  #exchange #switzerland #uruguay #10days #zurich #nosleep #2minutes",
"Milano ! #tuttobene #ac",
"HSG-Ball 2015 @annamaria2662 #warnice #staytilltheend #hsg #prom",
"Bali #incredible #horizon #infinity #pool #gettingsometanon #bali #seminyak",
"Cruising in a nutshell around Mallorca with the banana crew #yachtlife",
"Step 2 on the journey: Washington, D.C. @scaryder #washington #dc #mamorial #national #mall #lincoln #whitehouse #capital #usa #travel #eastcoast",
"Nice days in Philadelphia with @scaryder #philadelphia #libertybell #rocky #skyline #philly #usa #travel #fun #steps",
"Memorial holidays in cape cod with the kings friends @matzee49 @cesar77muse @shion_wtnb @tiziana_cristina @lenajmay @scaryder @niqqi18 @lilita2824 #cape #cod #capecod #massachusetts #memorial #holidays #nice #wheather #beach #kingsboston #sky",
"Baseball lessons with our pro @jdagreda and @matzee49  #baseball #lessons #bestteacherever #jesus #kingscollege #boston",
"Sunset and sunrise at the Acadia national park, Maine #sunset #sunrise #acadia #national #park #maine #usa #beautiful #sun #sky #horizon #barharbor",
"Boston celtics - Cleveland Cavaliers playoffs game 3 #basketball #nba #boston #celtics #vs #cleveland #cavaliers #playoffs #third #game #lost #tdgarden #letsgoceltics",
"Kings College Boston !!! #kings #college #boston #friends",
"Fucking freezing at the rainy boston marathon #bostonmarathon #boston #marathon #rainy #shitwheather #cold #lastmile",
"Kings Friends at stanway stadium for Boston red sox - Washington nationals #kings #college #stanway #boston #redsox #vs #washington #nationals #baseball #stadium #sunglassesmusthave",
"Season is over #vergingwieimflug #freestyle #ski #funpark #kicker #valdifassa #italy",
"War ne geile ausbildungs zeit in #alpbach !",
"Skilehrer in Obertauern #Traumjob #bluecrew",
"Los hombres alemanes en Costa Rica ;D #christmastree",
"having a great time in costa rica and nicaragua with @alemurillov",
"Party, Palmen Weiber und n Bier @janabrahms #sister #mallorca #malle #chill #pool #mar #sol #Beer #sun #españa #nais #holiday",
"Deutschland 2 - Ghana 2 - good luck today vs #castelao #fortaleza #wm #wc #2014 #deutschland #germany #alemanha #ghana #gana #todomundo #good #luck #jogapramim #heissaufheuteabend #football #stadium #viertelfinale #vs #france",
"Ich bin all das wovor deine Eltern dich immer gewarnt haben #mottowoche #tag #3 #sido #kiffer #harzer #penner #fun #sörenderlund #sidosmaske",
"Die Moral von der geschicht... Bremen ist geil, Hamburg nicht #Derbysieg #einszunull #werder #heftigste #choreo #ultras #bremen #stadion #hundertstes #derby #sitdownhsv #stimmung #fans #happy #nice #day #schadehamburg",
"#skifoan #saalbach #hinterglemm #snow #mountains #oleoleole #saalbacherschneekatzen #fun",
"#fehmarn #isschongeil #sea #occean #sky #clouds #sailing #follow #your #instinct #vacations",
"#chil #sandiego #beach #sun #blue #sky #follow #sea #waves ##vacation #good #time",
"#sandiego #missionbeach #beach #hot #sun #sunset #follow #sea #pacific #cali #california #red #sky #clouds #cloudporn #boy",
"#baseball #game #losangeles #dodgers #vs #Cincinnati #reds #stadium #sky #clouds #la #california #cali #fun #dodgerstadium",
"Highway No. 1 #california #highway #sun #vacation #happy",
"@trolflex #party #friends #old #but #gold #fun #fact #club #night #music #sunglasses #möve #l4l",
"#saalbach#ski#schnee#snow#fun#mountains"]

In [140]:
darya_test = {'name': ['Darya'], 'type': ['ESFP']}
darya_row = pd.DataFrame(darya_test)
darya_row['text'] = ' '.join(Darya)
darya_row

    name  type                                               text
0  Darya  ESFP  Quarantine expectations. Swipe for reality 22 ...

In [139]:
theresa_test = {'name': ['Theresa'], 'type': ['ENFP']}
theresa_row = pd.DataFrame(theresa_test)
theresa_row['text'] = ' '.join(Theresa)
theresa_row

      name  type                                               text
0  Theresa  ENFP  light times simplicité. chapter 1 *waiter pour...

In [141]:
nico_test = {'name': ['Nico'], 'type': ['ENFP']}
nico_row = pd.DataFrame(nico_test)
nico_row['text'] = ' '.join(Nico)
nico_row

   name  type                                               text
0  Nico  ENFP  Haven't posted in a while, so this random pict...

In [130]:
dylan_test = {'name': ['Dylan'], 'type': ['ENTJ']}
dylan_row = pd.DataFrame(dylan_test)
dylan_row['text'] = ' '.join(Dylan)
dylan_row

    name  type                                               text
0  Dylan  ENTJ  Happy golden Birthday Kayla! 22 years on Earth...

In [131]:
katie_test = {'name': ['Katie'], 'type': ['INFJ']}
katie_row = pd.DataFrame(katie_test)
katie_row['text'] = ' '.join(Katie)
katie_row

    name  type                                               text
0  Katie  INFJ  Sonndorf VI #autumn #fall #colors #igersaustri...

In [132]:
gustav_test = {'name': ['Gustav'], 'type': ['ISFJ']}
gustav_row = pd.DataFrame(gustav_test)
gustav_row['text'] = ' '.join(Gustav)
gustav_row

     name  type                                               text
0  Gustav  ISFJ  optiimal GNTM watching with the best #teammaur...

In [133]:
jonas_test = {'name': ['Jonas'], 'type': ['ESFJ']}
jonas_row = pd.DataFrame(jonas_test)
jonas_row['text'] = ' '.join(Jonas)
jonas_row

    name  type                                               text
0  Jonas  ESFJ  Hanging Tree When in Rome  @vivi.duenwald Shou...

In [142]:
rldata = pd.concat([darya_row,theresa_row,nico_row,katie_row,dylan_row,gustav_row,jonas_row])
rldata

      name  type                                               text
0    Darya  ESFP  Quarantine expectations. Swipe for reality 22 ...
0  Theresa  ENFP  light times simplicité. chapter 1 *waiter pour...
0     Nico  ENFP  Haven't posted in a while, so this random pict...
0    Katie  INFJ  Sonndorf VI #autumn #fall #colors #igersaustri...
0    Dylan  ENTJ  Happy golden Birthday Kayla! 22 years on Earth...
0   Gustav  ISFJ  optiimal GNTM watching with the best #teammaur...
0    Jonas  ESFJ  Hanging Tree When in Rome  @vivi.duenwald Shou...

In [143]:
rlquant = rldata.copy()

In [54]:
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import SnowballStemmer
from nltk import wordnet
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import learning_curve
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve

In [55]:
def processed(x):
    pattern = r'''(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))'''
    cleaned = re.sub(pattern, ' ', str(x)) 
    cleaned = re.sub(r"[^A-Za-z0-9]+", " ", cleaned)
    cleaned = re.sub(" \d+", " ", cleaned)
    cleaned = cleaned.lower().strip()

    pattern2 = '\w{1,}'
    bag = re.findall(pattern2, cleaned)

    porter = PorterStemmer()
    porter_bag = [porter.stem(word) for word in bag]

    lemmatizer = wordnet.WordNetLemmatizer()
    bag_of_words = [lemmatizer.lemmatize(word) for word in porter_bag]

    stopwords_e = stopwords.words('english')
    bag_of_words = [word for word in bag_of_words if word not in stopwords_e]

    return bag_of_words

In [56]:
text_processed = [processed(i) for i in rldata.text]

In [57]:
rldata['text_processed'] = text_processed

In [58]:
rldata['text_ready'] = rldata.text_processed.apply(' '.join)
rldata = rldata.drop(columns = ['text', 'text_processed'])
rldata

      name  type                                         text_ready
0    Darya  ESFP  quarantin expect swipe realiti swipe see photo...
0  Theresa  ENFP  light time simplicit chapter waiter pour wine ...
0     Nico  ENFP  post thi random pictur fill void go within lot...
0    Katie  INFJ  sonndorf vi autumn fall color igersaustria out...
0    Dylan  ENTJ  happi golden birthday kayla year earth photo s...
0   Gustav  ISFJ  optiim gntm watch best teammaureen lovemaureen...
0    Jonas  ESFJ  hang tree rome vivi duenwald shoutout best fam...

In [22]:
# rldata.to_csv(r'../data/reallife_data_insta.csv')

In [59]:
rldata['I-E'] = rldata['type'].astype(str).str[0]
rldata['N-S'] = rldata['type'].astype(str).str[1]
rldata['T-F'] = rldata['type'].astype(str).str[2]
rldata['J-P'] = rldata['type'].astype(str).str[3]

In [60]:
rldata.text_ready.isnull()

0    False
0    False
0    False
0    False
0    False
0    False
0    False
Name: text_ready, dtype: bool

In [75]:
data = pd.read_csv(r'../data/personalities_cleaned.csv')

In [76]:
data.drop(data.index[3559], inplace=True)

In [77]:
data.head()

,Unnamed: 0,type,posts,text_processed,text_ready
0,0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,"['intj', 'moment', 'sportscent', 'top', 'ten',...",intj moment sportscent top ten play prank ha l...
1,1,ENTP,'I'm finding the lack of me in these posts ver...,"['find', 'lack', 'post', 'veri', 'alarm', 'sex...",find lack post veri alarm sex bore posit often...
2,2,INTP,'Good one _____ https://www.youtube.com/wat...,"['good', 'one', 'cours', 'say', 'know', 'bless...",good one cours say know bless cur doe absolut ...
3,3,INTJ,"'Dear INTP, I enjoyed our conversation the o...","['dear', 'intp', 'enjoy', 'convers', 'day', 'e...",dear intp enjoy convers day esoter gab natur u...
4,4,ENTJ,'You're fired.|||That's another silly misconce...,"['fire', 'anoth', 'silli', 'misconcept', 'appr...",fire anoth silli misconcept approach logic go ...

In [78]:
data2 = data.drop(columns = ['posts', 'Unnamed: 0', 'text_processed'])
data2.head()

   type                                         text_ready
0  INFJ  intj moment sportscent top ten play prank ha l...
1  ENTP  find lack post veri alarm sex bore posit often...
2  INTP  good one cours say know bless cur doe absolut ...
3  INTJ  dear intp enjoy convers day esoter gab natur u...
4  ENTJ  fire anoth silli misconcept approach logic go ...

In [79]:
data2['I-E'] = data2['type'].astype(str).str[0]
data2['N-S'] = data2['type'].astype(str).str[1]
data2['T-F'] = data2['type'].astype(str).str[2]
data2['J-P'] = data2['type'].astype(str).str[3]

In [80]:
rldata.head()

   type                                         text_ready I-E N-S T-F J-P
0  ESFP  quarantin expect swipe realiti swipe see photo...   E   S   F   P
0  ENFP  light time simplicit chapter waiter pour wine ...   E   N   F   P
0  ENFP  post thi random pictur fill void go within lot...   E   N   F   P
0  INFJ  sonndorf vi autumn fall color igersaustria out...   I   N   F   J
0  ENTJ  happi golden birthday kayla year earth photo s...   E   N   T   J

In [82]:
# rldata = rldata.drop(columns = ['name'])

In [83]:
data2 = pd.concat([data2, rldata]).reset_index(drop=True)
data2.tail()

      type                                         text_ready I-E N-S T-F J-P
8676  ENFP  post thi random pictur fill void go within lot...   E   N   F   P
8677  INFJ  sonndorf vi autumn fall color igersaustria out...   I   N   F   J
8678  ENTJ  happi golden birthday kayla year earth photo s...   E   N   T   J
8679  ISFJ  optiim gntm watch best teammaureen lovemaureen...   I   S   F   J
8680  ESFJ  hang tree rome vivi duenwald shoutout best fam...   E   S   F   J

In [84]:
data2['I-E'] = data2['type'].astype(str).str[0]
data2['N-S'] = data2['type'].astype(str).str[1]
data2['T-F'] = data2['type'].astype(str).str[2]
data2['J-P'] = data2['type'].astype(str).str[3]

In [86]:
data2.tail(7)

      type                                         text_ready I-E N-S T-F J-P
8674  ESFP  quarantin expect swipe realiti swipe see photo...   E   S   F   P
8675  ENFP  light time simplicit chapter waiter pour wine ...   E   N   F   P
8676  ENFP  post thi random pictur fill void go within lot...   E   N   F   P
8677  INFJ  sonndorf vi autumn fall color igersaustria out...   I   N   F   J
8678  ENTJ  happi golden birthday kayla year earth photo s...   E   N   T   J
8679  ISFJ  optiim gntm watch best teammaureen lovemaureen...   I   S   F   J
8680  ESFJ  hang tree rome vivi duenwald shoutout best fam...   E   S   F   J

#### NLP Model

In [87]:
x = data2['text_ready']

y_IE = data2['I-E']
y_NS = data2['N-S']
y_TF = data2['T-F']
y_JP = data2['J-P']

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer(ngram_range=(2, 2)).fit(x) 
X = vector.transform(x)

In [89]:
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import MinMaxScaler

svd = TruncatedSVD(n_components = 100)
reduced = svd.fit_transform(X)

scaler = MinMaxScaler()
scaled = scaler.fit_transform(reduced)

In [90]:
# import joblib

In [91]:
# IE = joblib.load('RF_IE.sav')
# NS = joblib.load('RF_NS.sav')
# TF = joblib.load('RF_TF.sav')
# JP = joblib.load('RF_JP.sav')

In [92]:
# IE_result = IE.score(X, y_IE)
# print("IE result is: ", IE_result)

# NS_result = NS.score(X, y_NS)
# print("NS result is: ", NS_result)

# TF_result = TF.score(X, y_TF)
# print("TF result is: ", TF_result)

# JP_result = JP.score(X, y_JP)
# print("JP result is: ", JF_result)

In [94]:
scaled[8674:].shape

(7, 100)

In [100]:
from sklearn.ensemble import RandomForestClassifier

rfn = RandomForestClassifier(max_depth=14, random_state=0)


# IE
x_train = scaled[0:8673]
x_test = scaled[8674:]
y_train = y_IE[0:8673]
y_test_IE = y_IE[8674:]
rfn.fit(x_train, y_train)
ieb_train = rfn.score (x_train,y_train)
ieb_test = rfn.score (x_train,y_train)
predrfn_IE = rfn.predict(x_test)
print("I-E RESULTS")
print('Label I-E train score is :',ieb_train)
print('Label I-E test score is :',ieb_test)
print("Confusion Matrix for Random Forest:")
print(confusion_matrix(y_test,predrfn))
print("Score:",round(accuracy_score(y_test,predrfn)*100,2))
print("Classification Report:",classification_report(y_test,predrfn))
print("*" * 100)

# NS
x_train = scaled[0:8673]
x_test = scaled[8674:]
y_train = y_NS[0:8673]
y_test_NS = y_NS[8674:]
rfn.fit(x_train, y_train)
nsb_train = rfn.score (x_train,y_train)
nsb_test = rfn.score (x_train,y_train)
predrfn_NS = rfn.predict(x_test)
print("N-S RESULTS")
print('Label N-S train score is :',nsb_train)
print('Label N-S test score is :',nsb_test)
print("Confusion Matrix for Random Forest:")
print(confusion_matrix(y_test,predrfn))
print("Score:",round(accuracy_score(y_test,predrfn)*100,2))
print("Classification Report:",classification_report(y_test,predrfn))
print("*" * 100)

# TF
x_train = scaled[0:8673]
x_test = scaled[8674:]
y_train = y_TF[0:8673]
y_test_TF = y_TF[8674:]
rfn.fit(x_train, y_train)
tfb_train = rfn.score (x_train,y_train)
tfb_test = rfn.score (x_train,y_train)
predrfn_TF = rfn.predict(x_test)
print("T-F Results")
print('Label T-F train score is :',tfb_train)
print('Label T-F test score is :',tfb_test)
print("Confusion Matrix for Random Forest:")
print(confusion_matrix(y_test,predrfn))
print("Score:",round(accuracy_score(y_test,predrfn)*100,2))
print("Classification Report:",classification_report(y_test,predrfn))
print("*" * 100)

# JP
x_train = scaled[0:8673]
x_test = scaled[8674:]
y_train = y_JP[0:8673]
y_test_JP = y_JP[8674:]
rfn.fit(x_train, y_train)
jpb_train = rfn.score (x_train,y_train)
jpb_test = rfn.score (x_train,y_train)
predrfn_JP = rfn.predict(x_test)
print("J-P Results")
print('Label J-P train score is :',jpb_train)
print('Label J-P test score is :',jpb_test)
print("Confusion Matrix for Random Forest:")
print(confusion_matrix(y_test,predrfn))
print("Score:",round(accuracy_score(y_test,predrfn)*100,2))
print("Classification Report:",classification_report(y_test,predrfn))

I-E RESULTS
Label I-E train score is : 0.9219416580191399
Label I-E test score is : 0.9219416580191399
Confusion Matrix for Random Forest:
[[0 4]
 [0 3]]
Score: 42.86
Classification Report:               precision    recall  f1-score   support

           J       0.00      0.00      0.00         4
           P       0.43      1.00      0.60         3

    accuracy                           0.43         7
   macro avg       0.21      0.50      0.30         7
weighted avg       0.18      0.43      0.26         7

****************************************************************************************************

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

N-S RESULTS
Label N-S train score is : 0.8833160382797187
Label N-S test score is : 0.8833160382797187
Confusion Matrix for Random Forest:
[[0 4]
 [0 3]]
Score: 42.86
Classification Report:               precision    recall  f1-score   support

           J       0.00      0.00      0.00         4
           P       0.43      1.00      0.60         3

    accuracy                           0.43         7
   macro avg       0.21      0.50      0.30         7
weighted avg       0.18      0.43      0.26         7

****************************************************************************************************

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

T-F Results
Label T-F train score is : 0.9960797878473423
Label T-F test score is : 0.9960797878473423
Confusion Matrix for Random Forest:
[[0 4]
 [0 3]]
Score: 42.86
Classification Report:               precision    recall  f1-score   support

           J       0.00      0.00      0.00         4
           P       0.43      1.00      0.60         3

    accuracy                           0.43         7
   macro avg       0.21      0.50      0.30         7
weighted avg       0.18      0.43      0.26         7

****************************************************************************************************

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

J-P Results
Label J-P train score is : 0.9674852992044275
Label J-P test score is : 0.9674852992044275
Confusion Matrix for Random Forest:
[[0 4]
 [0 3]]
Score: 42.86
Classification Report:               precision    recall  f1-score   support

           J       0.00      0.00      0.00         4
           P       0.43      1.00      0.60         3

    accuracy                           0.43         7
   macro avg       0.21      0.50      0.30         7
weighted avg       0.18      0.43      0.26         7

/usr/local/Cellar/jupyterlab/1.2.4/libexec/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [104]:
rldata2 = rldata.copy()

In [113]:
rldata2['y_test_IE'] = list(y_test_IE)
rldata2['predrfn_IE'] = predrfn_IE
rldata2['y_test_NS'] = list(y_test_NS)
rldata2['predrfn_NS'] = predrfn_NS
rldata2['y_test_TF'] = list(y_test_TF)
rldata2['predrfn_TF'] = predrfn_TF
rldata2['y_test_JP'] = list(y_test_JP)
rldata2['predrfn_JP'] = predrfn_JP

In [116]:
rldata2 = rldata2.drop(columns = ['y_test_IE', 'y_test_NS', 'y_test_TF', 'y_test_JP'])

In [117]:
rldata2

,type,text_ready,I-E,N-S,T-F,J-P,predrfn_IE,predrfn_NS,predrfn_TF,predrfn_JP
0,ESFP,quarantin expect swipe realiti swipe see photo...,E,S,F,P,I,N,T,P
0,ENFP,light time simplicit chapter waiter pour wine ...,E,N,F,P,I,N,F,P
0,ENFP,post thi random pictur fill void go within lot...,E,N,F,P,I,N,T,P
0,INFJ,sonndorf vi autumn fall color igersaustria out...,I,N,F,J,I,N,F,P
0,ENTJ,happi golden birthday kayla year earth photo s...,E,N,T,J,I,N,T,P
0,ISFJ,optiim gntm watch best teammaureen lovemaureen...,I,S,F,J,I,N,T,P
0,ESFJ,hang tree rome vivi duenwald shoutout best fam...,E,S,F,J,I,N,T,P

#### Quant Model

In [118]:
quant = pd.read_csv(r'../data/quant_personalities.csv')

In [119]:
quant.head()

,Unnamed: 0,type,length_comment,var_length,links_count,qm_count,exm_count,img_count,music_count,dots_count,ht_count,me_count,I-E,N-S,T-F,J-P
0,0,INFJ,11.12,0.179750,0.48,0.36,0.06,0.12,0.02,0.30,0.0,1.18,1,0,0,0
1,1,ENTP,23.40,0.184469,0.20,0.10,0.00,0.02,0.00,0.38,0.0,3.06,0,0,1,1
2,2,INTP,16.72,0.184010,0.10,0.24,0.08,0.00,0.00,0.26,0.0,1.44,1,0,1,1
3,3,INTJ,21.28,0.186640,0.04,0.22,0.06,0.00,0.02,0.52,0.0,2.18,1,0,1,0
4,4,ENTJ,19.34,0.178723,0.12,0.20,0.02,0.04,0.02,0.42,0.0,1.48,0,0,1,0

In [144]:
rlquant

      name  type                                               text
0    Darya  ESFP  Quarantine expectations. Swipe for reality 22 ...
0  Theresa  ENFP  light times simplicité. chapter 1 *waiter pour...
0     Nico  ENFP  Haven't posted in a while, so this random pict...
0    Katie  INFJ  Sonndorf VI #autumn #fall #colors #igersaustri...
0    Dylan  ENTJ  Happy golden Birthday Kayla! 22 years on Earth...
0   Gustav  ISFJ  optiimal GNTM watching with the best #teammaur...
0    Jonas  ESFJ  Hanging Tree When in Rome  @vivi.duenwald Shou...

In [146]:
import re

# rldata['length_comment'] = rldata['text'].apply(lambda x: len(x.split())/50)
# rldata['var_length'] = data['posts'].apply(lambda x: var_posts(x))
# rldata['links_count'] = rldata['posts'].apply(lambda x: x.count('http')/50)
rlquant['qm_count'] = rlquant['text'].apply(lambda x: x.count('?')/50)
rlquant['exm_count'] = rlquant['text'].apply(lambda x: x.count('!')/50) # normalize by the amount of scentences/ percent of number of scentences
# rldata['img_count'] = rldata['posts'].apply(lambda x: x.count('jpg')/50)
# data['music_count'] = data['posts'].apply(lambda x: x.count('music')/50)
rlquant['dots_count'] = rlquant['text'].apply(lambda x: x.count('...')/50)
rlquant['ht_count'] = rlquant['text'].apply(lambda x: x.count('#')/50)
rlquant['me_count'] = rlquant['text'].apply(lambda x: (x.lower.count('me') + x.lower.count('i') + x.lower.count('myself'))/50) # add uppercase

rlquant

AttributeError: 'builtin_function_or_method' object has no attribute 'count'