### Importing needed libraries

In [25]:
import GetOldTweets3 as got
import pandas as pd
from IPython.display import display_pretty, display_html

### Running Twitter Scrapper

With the Module GetOldTweets3, one can import all tweet history from a given account.
I am importing all of ELon Musk's tweets over the 2010 decade.
Tesla went public in 2010 (Initial public offering (IPO) launched on January, 29th, 2010), therefore I am importing all of Musk's tweets on the same time period.

In [2]:
tweetCriteria = got.manager.TweetCriteria().setUsername("elonmusk")\
                                           .setSince("2010-01-01")\
                                           .setUntil("2020-03-01")\
                                           .setMaxTweets(10000)
tweets_musk = got.manager.TweetManager.getTweets(tweetCriteria)

# for t in tweets:
#     print(t.text)

The raw output of the TweetCriteria function is a dictionary with a list of functions.

The following for loop aims at looping inside the dictionary, to extract each value, i.e. each tweet, encompassed as an Object.

In [5]:
values = []
keys = []

for tweet in tweets_musk:
    values.append(tweet.__dict__.values())
df_musk_tweets = pd.DataFrame(values, columns=tweet.__dict__.keys())

Now it is possible to create a raw Dataframe of the result, which is exported as a CSV file to be wrangled in the following Twitter Analytics Notebook

In [6]:
df_musk_tweets

,username,to,text,retweets,favorites,replies,id,permalink,author_id,date,formatted_date,hashtags,mentions,geo,urls
0,elonmusk,Universe_SkyArt,I just sent a note to Twitter to clarify that ...,319,4331,238,1233516620028530688,https://twitter.com/elonmusk/status/1233516620...,44196397,2020-02-28 22:17:34+00:00,Fri Feb 28 22:17:34 +0000 2020,,,,
1,elonmusk,LeeHudson_,The competitor should be a drone fighter plane...,359,5104,477,1233478599170195457,https://twitter.com/elonmusk/status/1233478599...,44196397,2020-02-28 19:46:29+00:00,Fri Feb 28 19:46:29 +0000 2020,,,,
2,elonmusk,Teslarati,It’s not that big really,355,11029,536,1233153286015868928,https://twitter.com/elonmusk/status/1233153286...,44196397,2020-02-27 22:13:48+00:00,Thu Feb 27 22:13:48 +0000 2020,,,,
3,elonmusk,SpaceX,Testing Raptor in vertical configuration (on t...,419,9764,265,1233115872698351621,https://twitter.com/elonmusk/status/1233115872...,44196397,2020-02-27 19:45:08+00:00,Thu Feb 27 19:45:08 +0000 2020,,,,
4,elonmusk,newscientist,It’s not mine,2122,36510,719,1232748533486276608,https://twitter.com/elonmusk/status/1232748533...,44196397,2020-02-26 19:25:28+00:00,Wed Feb 26 19:25:28 +0000 2020,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8792,elonmusk,None,That was a total non sequitur btw,4,7,0,142881284019060736,https://twitter.com/elonmusk/status/1428812840...,44196397,2011-12-03 08:22:07+00:00,Sat Dec 03 08:22:07 +0000 2011,,,,
8793,elonmusk,None,"Great Voltaire quote, arguably better than Twa...",25,27,2,142880871391838208,https://twitter.com/elonmusk/status/1428808713...,44196397,2011-12-03 08:20:28+00:00,Sat Dec 03 08:20:28 +0000 2011,,,,
8794,elonmusk,None,I made the volume on the Model S http://ow.ly/...,8,23,9,142188458125963264,https://twitter.com/elonmusk/status/1421884581...,44196397,2011-12-01 10:29:04+00:00,Thu Dec 01 10:29:04 +0000 2011,,,,http://ow.ly/i/mtD7
8795,elonmusk,None,Went to Iceland on Sat to ride bumper cars on ...,18,167,15,142179928203460608,https://twitter.com/elonmusk/status/1421799282...,44196397,2011-12-01 09:55:11+00:00,Thu Dec 01 09:55:11 +0000 2011,,,,
8796,elonmusk,None,"Please ignore prior tweets, as that was someon...",121,407,37,15434727182,https://twitter.com/elonmusk/status/15434727182,44196397,2010-06-04 18:31:57+00:00,Fri Jun 04 18:31:57 +0000 2010,,,,

#### Creating a CSV copy of the raw Twitter import

In [10]:
df_musk_tweets_raw = df_musk_tweets.copy()

In [11]:
df_musk_tweets_raw.to_csv('df_musk_tweets.csv')